<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>User_name</th>
        <th>Age</th>
        <th>Email</th>
        <th>login</th>




    </tr>

    <tr th:object="${user}">
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getUsername()}">Username</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getLogin()}">login</td>



    </tr>

</table>

<br/>
<a href="/logout">logout</a>
<br/>

</body>
</html>