<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<form th:method="POST" th:action="@{/user}" th:object="${person}">
    <label for="username"> Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <br/>
    <label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="login"> Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Name error</div>
    <br/>
    <label for="password"> Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
    <br/>
    <ul class="checkbox-list">
        <li th:each="role:${roles}">

            <input type="checkbox" th:id="${role.id}" th:value="${role.role}" th:name="role" th:checked="${person.roles.contains(role)}" />
            <span class="primary" th:text="${role.role}"></span>
        </li>
    </ul>

    <!--    <input type="hidden" name="id" th:value="*{id}">-->


    <br/>
    <input type="submit" value="Update!"/>
    <br/>

</form>

</body>
</html>